# Loading libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Airbnb NYC 2019.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [20]:
# Checking for duplicates
df.duplicated().any()
#no dublicates

False

In [6]:
# Checking nan values
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [ ]:
#Droping last_review column

In [9]:
# Differentiating numeric and categorical values
numrc = [var for var in df.columns if df[var].dtype == 'int64' or df[var].dtype == 'float64']
catg = [var for var in df.columns if df[var].dtype == 'object']

In [10]:
numrc

['id',
 'host_id',
 'latitude',
 'longitude',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [11]:
catg

['name',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'room_type',
 'last_review']

In [29]:
correlation_with_reviews_per_month = df.corrwith(df['reviews_per_month'])
correlation_with_reviews_per_month

id                                0.233754
host_id                           0.248415
latitude                         -0.011111
longitude                         0.158395
price                            -0.037439
minimum_nights                   -0.103524
number_of_reviews                 0.563149
reviews_per_month                 1.000000
calculated_host_listings_count   -0.021184
availability_365                  0.183909
dtype: float64

In [23]:
#Imputation
# For numerical:
#df['reviews_per_month'].fillna(df['reviews_per_month'], inplace = True)

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming 'target_column' is the column with missing values
# 'feature_columns' are the columns used as features to predict the missing values

# Split the data into two sets: one with missing values and one without
df_missing = df[df['reviews_per_month'].isnull()]
df_not_missing = df.dropna(subset=['reviews_per_month'])

# Define the features and target variables
X = df_not_missing[['longitude', 'number_of_reviews',"availability_365"]]
y = df_not_missing['reviews_per_month']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict the target values for the missing data
predicted_values = model.predict(df_missing[['longitude', 'number_of_reviews',"availability_365"]])

# Fill in the missing values with the predicted values
df.loc[df['reviews_per_month'].isnull(), 'reviews_per_month'] = predicted_values

# Evaluate the model (optional)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 1.855094925374294

In [25]:
df.shape

(48895, 16)

In [30]:
df = df.drop("last_review",axis=1)

In [33]:
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [32]:
df = df.dropna()

In [16]:
df[['reviews_per_month']]

       reviews_per_month
0                   0.21
1                   0.38
2                    NaN
3                   4.64
4                   0.10
...                  ...
48890                NaN
48891                NaN
48892                NaN
48893                NaN
48894                NaN

[48895 rows x 1 columns]